{{- $tools := (index . "tools") | default (list) }}
{{- $guiApps := (index . "guiApps") | default (list) }}
{{- if and (eq .chezmoi.os "linux") (not .wsl) (has "sway" $guiApps) }}
[".config/sway/sway-font-awesome"]
    type = "archive"
    url = "https://github.com/iguanajuice/sway-font-awesome/archive/refs/heads/main.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}
{{- if and (has "herdr" $tools) (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) }}
[".local/bin/herdr"]
    type = "file"
    url = "https://github.com/herdrdev/herdr/releases/latest/download/herdr-{{ if eq .chezmoi.os "darwin" }}macos{{ else }}linux{{ end }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else }}x86_64{{ end }}"
    executable = true
    refreshPeriod = "168h"
{{- end }}
