#!/usr/bin/env bash

set -uo pipefail
{{- $guiApps := (index . "guiApps") | default (list) }}
{{- if and (not .wsl) (not (index . "headless" | default false)) (has "sway" $guiApps) (ne .family "macos") }}
FAMILY="{{ .family }}" SWAY_SESSION=1 bash "$HOME/.sauce/scripts/setup.sh" sway-session
{{- end }}
