[Desktop Entry]
Type=Application
Name=Cursor
Comment=The AI Code Editor
Exec={{ .chezmoi.homeDir }}/.apps/cursor.AppImage --no-sandbox %F
Icon={{ .chezmoi.homeDir }}/.apps/icons/cursor.png
Categories=Development;IDE;TextEditor;Utility;
Terminal=false
StartupNotify=true
StartupWMClass=Cursor
MimeType=text/plain;inode/directory;
