[Desktop Entry]
Type=Application
Name=LM Studio
Comment=Discover, download, and run local LLMs
Exec={{ .chezmoi.homeDir }}/.local/bin/lm-studio.AppImage --no-sandbox
Icon={{ .chezmoi.homeDir }}/.local/share/icons/lm-studio.png
Categories=Development;Utility;
Terminal=false
StartupNotify=true
