[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Knowledge base on local Markdown files
Exec={{ .chezmoi.homeDir }}/.apps/obsidian.AppImage --no-sandbox
Icon={{ .chezmoi.homeDir }}/.apps/icons/obsidian.png
Categories=Office;Utility;
Terminal=false
StartupNotify=true
