[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Knowledge base on local Markdown files
Exec={{ .chezmoi.homeDir }}/.local/bin/obsidian.AppImage --no-sandbox
Icon={{ .chezmoi.homeDir }}/.local/share/icons/obsidian.png
Categories=Office;Utility;
Terminal=false
StartupNotify=true
