window {
    background-color: #263238;
    border: 2px solid #03a9f4;
    border-radius: 8px;
    font-family: "Terminess Nerd Font";
    font-size: 14px;
}

#input {
    margin: 8px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #37474f;
    color: #eceff1;
}

#inner-box { margin: 8px; }

#entry {
    padding: 6px;
    border-radius: 4px;
    color: #eceff1;
}
#entry:selected {
    background-color: #03a9f4;
    color: #263238;
}
#text:selected { color: #263238; }
