[Daemon]
Autolock=true
LockGrace=5
LockOnResume=true
Timeout=5

[Greeter][Wallpaper][org.kde.image][General]
Image={{ .chezmoi.homeDir }}/Pictures/wallpaper/bafkreidepsi4hx2fud4y5x67nbmoosg65fhymlbmapul55qekmti54ynem.webp
PreviewImage={{ .chezmoi.homeDir }}/Pictures/wallpaper/bafkreidepsi4hx2fud4y5x67nbmoosg65fhymlbmapul55qekmti54ynem.webp
